/* -------------------------------------fonts */


/* font-family: 'Be Vietnam Pro', sans-serif;
font-family: 'Spline Sans', sans-serif; 
---------------------------------------
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Spline Sans', sans-serif;*/

* {
    margin: 0 auto;
}


/* --------------------------------------------------Navbar */

.navbar {
    /* background-color: red; */
    display: flex;
    background-image: linear-gradient(to right, tomato, white, green);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-right {
    background-color: white;
    display: flex;
    width: 5%;
    background-image: linear-gradient(tomato, orange);
}

.nav-left {
    width: 173%;
    /* background-color: blue; */
    /* display: flex;
    justify-content: left;
    align-items: left;
    text-align: left; */
}

.nav-left h1 {
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    font-family: 'Roboto Condensed';
}

#nav-logo {
    height: 25px;
    width: 24px;
    padding-top: 3px;
}


/*-----------------------------------------Nav-ends-here-------------------*/


/* ------------------------------------------------first section starts here */

.head-section {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.right-div {
    width: 71%;
    /* background-color: yellow; */
}

.left-div {
    width: 40%;
    /* padding-right: 9px; */
    /* background-color: green; */
    margin-right: -127px;
}

.map-left {
    height: 428px;
    width: 74%;
}


/* ---------------------------------------------Card section starts --------------- */

.card-one {}

.card-one:hover {}

.card-two {}

.card-two:hover {}

.card-three {}

.card-three:hover {}