/* -------------------------------------fonts */


/* font-family: 'Be Vietnam Pro', sans-serif;
font-family: 'Spline Sans', sans-serif; 
---------------------------------------
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Spline Sans', sans-serif;*/

* {
    margin: 0 auto;
}

body {
    background-image: url(images/body-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1000px;
}

h2 {
    font-family: 'Be Vietnam Pro';
    padding-left: 9px;
    color: tomato;
    font-weight: bolder;
}

h5 {
    font-family: 'Roboto Condensed';
    padding-left: 10px;
    color: red;
}


/* --------------------------------------------------Navbar */

.navbar {
    /* background-color: red; */
    display: flex;
    background-image: linear-gradient(to right, tomato, white, green);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-right {
    /* background-color: white; */
    display: flex;
    width: 5%;
}

.nav-left {
    width: 173%;
    /* background-color: blue; */
    /* display: flex;
    justify-content: left;
    align-items: left;
    text-align: left; */
}

.nav-left h1 {
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    font-family: 'Roboto Condensed';
}

#nav-logo {
    height: 25px;
    width: 24px;
    padding-top: 3px;
}


/*-----------------------------------------Nav-ends-here-------------------*/


/* ------------------------------------------------first section starts here */

.head-para-decor img {}

.head-section {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 10px;
}

.head-para-decor {
    margin-top: 40px;
    height: 80%;
    width: 80%;
    background: #C33764;
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);
    background: linear-gradient(to right, #1D2671, #C33764);
    box-shadow: 10px 10px 8px #888888;
    border-left: 8px solid;
    border-image: linear-gradient(white, red, black, blue, white);
    border-image-slice: 1;
}

#head-sec-line-decor {
    color: white;
    text-align: center;
}

#moving-banner-text {
    font-family: 'Spline Sans';
}

.right-div {
    width: 71%;
    /* background-color: yellow; */
}

.left-div {
    width: 40%;
    /* padding-right: 9px; */
    /* background-color: green; */
    margin-right: -127px;
}

.map-left {
    height: 428px;
    width: 74%;
}


/* ----------------------------------------------Moving banner section */

.moving-banner {
    background-image: linear-gradient(to right, tomato, white, green);
}


/* ---------------------------------------------Card section starts --------------- */

.cards {
    margin-top: 200px;
    display: flex;
    /* background-color: rgb(16, 17, 17); */
}

.all-card-img {
    height: 150px;
    width: 250px;
}

.all-cards {
    background-color: #fde7f9;
    background-image: linear-gradient(315deg, #fde7f9 0%, #aacaef 74%);
    width: 250px;
    height: 485px;
    text-align: left;
    box-shadow: 10px 10px 8px #888888;
}

.all-cards:hover {
    box-shadow: 10px 10px 8px #d1d0d0;
}

.all-cards p {
    padding: 10px;
}

.button-link {
    text-decoration: none;
    font-family: 'Spline Sans';
    background-image: linear-gradient(tomato, orange);
    padding: 1px 21px;
    margin-left: 82px;
    border: 1px solid black;
    box-shadow: 10px 10px 8px #888888;
    border-radius: 1px;
    color: white;
}

.button-link:hover {
    box-shadow: 1px 2px 4px #d1d0d0;
    color: black;
}


/* ------------------------------------------footer starts here--------- */

footer {
    margin-top: 30px;
    background-color: black;
    color: white;
    text-align: center;
}